<style type="text/css">
.col-md-4.col-md-offset-8.question_list{
    background-color: rgb(248, 248, 248);
    border-color: rgb(215, 215, 215);
    border-style: solid;
    border-width: 1px;
    height: 500px;
    left: 44px;
    position: relative;
    top: 136px;
    width: 368px;
    overflow-y: scroll;
    overflow-x: inherit;
 }
 .main {
    background-image: url("img/bg.jpg");
    border-color: rgb(225, 227, 229);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    left: 0;
    margin-bottom: 7px;
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden;
}
 .question {
    background-color: rgb(248, 248, 248);
    border-color: rgb(225, 227, 229);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    height: auto;
    left: 0;
    margin-bottom: 7px;
    min-height: 68px;
    padding: 7px;
    position: relative;
    top: 12px;
    width: 100%;
}


</style>
<div class="main">
	<div class="col-md-4 col-md-offset-8 question_list">
	      <h2> Learn & Play "Formula"</h2>
	       <ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a >Physics</a></li>
			  <li role="presentation"><a >Chemistry</a></li>
			  <li role="presentation"><a >Math</a></li>
			  <li role="presentation"><a >Biology</a></li>
		   </ul>
           <div ng-repeat="question in questions" class="question">
             <a href="#/solve/{{$index}}">{{question.text}}</a>
           </div>
           
	</div>
</div>