
<div class="contents">
    <div class="col-md-3 left-div">
        <h3>Formula</h3>
        <div class="glyphicon glyphicon-chevron-up"></div>
        <div class="formula" ng-repeat="formula in formulas" ng-click="add_formula(formula)"><span>{{formula.string}}</span></div>
        <div class="glyphicon glyphicon-chevron-down"></div>
    </div>
    <div class="col-md-9 right-div">
       <div class="question">
           <div>
               <span class="qna">Question</span>
               <div class="qus_details">{{question}}</div>
           </div>
       </div>
       <div class="work-area">
           <span> Work Area </span>
       <div class="contents workArea">
               <div class="col-md-6 wa">
               <div class="step" ng-repeat="formula in solution track by $index">
                       <div class="col-xs-12 stepTitle">Step {{$index+1}}. Output stored in <b>var{{formula.variable}}</b> <span ng-show="formula.result"> = {{formula.result}}</span> </div>
                       <div class="col-xs-12 stepareabox">
							{{formula.string}}<br/>
							<ul>
							<li ng-repeat="(k,v) in formula.map">
								{{k}} = <select ng-model="new_key" ng-change="evaluate($parent.$index, k, new_key)" ng-options="key as 'var'+key for (key, value) in vars">
							</select>
							</li>
                       </div>
                   </div>

                   <div class="step" ng-show="solution.length==0">
                   No steps yet. Start by adding a formula from your left <br /><br />
                   <b><i>Tip:</i></b> Remember to store the input in handy variables
                   </div>
               </div>
               <div class="col-md-6 wa variables">
                   <h3>Variables</h3>
                   <div class="col-md-8"> <input name="variable" placeholder="Enter a value to store in var{{counter}}" class="form-control" ng-model="new_value"></div>
                   <div class="col-md-4"> <button type="button" class="btn btn-primary variable_button" ng-click="add()">Add var{{counter}}</button></div>
                   <div ng-repeat="(key, value) in vars">
                   	<b>var{{key}}</b> = {{value}}<br />
                   </div>
                   <li ng-hide="vars | not_empty">No variables to display yet.</li>
               </div>
           </div>
       </div>
       <div class="answer">
           <span>Answer</span>
           <select ng-change="submit()" ng-model="answer" 
			ng-options="'var'+k for (k,v) in vars">
			</select>
       </div>
    </div>
</div>