
<div class="contents">
    <div class="col-md-3 left-div">
        <h3>Formula</h3>
		<div class="helptext">Click to add formula</div>
        <!-- <div class="glyphicon glyphicon-chevron-up"></div> -->
        <div class="btn btn-default formula" ng-repeat="formula in formulas" ng-click="add_formula(formula)"><span>{{formula.string}}</span></div>
        <!-- <div class="glyphicon glyphicon-chevron-down"></div> -->
    </div>
    <div class="col-md-9 right-div">
       <div class="question">
           <div>
               <span class="qna">Question</span>
               <div class="qus_details">{{question}}</div>
           </div>
       </div>
       <div class="work-area">
           <span> Work Area </span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a ng-click="reloadRoute()" data-translate style="cursor:pointer;">reload</a>
       <div class="contents workArea">
               <div class="col-md-6 wa">
               <div class="step" ng-repeat="formula in solution track by $index">
                       <div class="col-xs-12 stepTitle">Step {{$index+1}}. Output stored in <b>{{formula.variable}}</b> <i ng-show="formula.result"> = {{formula.result}} {{formula.unit}}</i> </div>
                       <div class="col-xs-12 stepareabox">
							<h3>{{formula.string}}</h3>
							Where
							<ul>
							<li ng-repeat="(k,v) in formula.map">
								{{k | remove_underscore}} = <select ng-model="new_key" ng-change="evaluate($parent.$index, k, new_key)" ng-options="key as key+'('+value+')' for (key, value) in non_null_vars()">
							</select>
							</li>
                       </div>
                   </div>

				    <div class="step" ng-if="last_derived_answer == 'empty'">
		               No steps yet. Start by adding a formula from your left. <br /><br />
		               Remember your final answer is the answer returned by the formula used last.
				    </div>

               </div>
               <div class="col-md-6 wa variables">
                   <h3>Variables</h3>
                   <div ng-repeat="(key, value) in non_null_vars()">
                   	<b>{{key}}</b> = {{value}}<br />
                   </div>
                   <li ng-hide="vars | not_empty">No variables to display yet.</li>
               </div>
           </div>
       </div>
       <div class="answer">
           <!-- <span>Answer</span>
           <select ng-change="submit()" ng-model="answer" 
			ng-options="k for (k,v) in vars">
			</select> -->
		    <div class="step" ng-if="last_derived_answer == 'new' || (last_derived_answer!='empty' && isNaN(last_derived_answer))">
		        <h3>Choose the variables. Do not leave out any</h3>
		    </div>
		    <div class="step" ng-if="last_derived_answer == correct">
		        <h1 style="color:darkgreen">Good Job</h1>
		        <a href="/#/solve/{{next_question_id}}">Next Question</a>
		    </div>
		    <div class="step" ng-if="last_derived_answer == 'empty'">
               Welcome to Student Workbook<br /><br />
		    </div>
		    <div class="step" ng-if="last_derived_answer!= correct && last_derived_answer!= 'empty' && !(last_derived_answer == 'new' || isNaN(last_derived_answer))">
		        <h3>You answer: {{last_derived_answer}} is not correct. Correct or add a new formula or try again</h3>
            
		    </div>
       </div>
    </div>
</div>